/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página */
html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    color: #222;
    min-width: 320px;
}

/* Imagens */
img {
    max-width: 100%;
    display: block;
}

/* Botões */
button {
    font-family: inherit;
    cursor: pointer;
}

/* Inputs */
input,
select,
button,
textarea {
    font: inherit;
}